@{
    ViewBag.Title = "notEnrolled";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div class ="k-content" style ="background-color:mintcream; height:auto; width:30%;margin-left:25%">
    <h2 class ="k-header">Not Enrolled:</h2>
<p style ="font-size:large">
    <br>You are not enrolled in this subject.
<p>
   <br><div style ="margin-left:80%; font-size:x-large;">
             @Html.ActionLink("Back", "StudentHome")
     </div>
</div>




