

@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
     
         
      
}
<!--
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css">
<link type= "text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
<script class="cssdeck" src="~/Scripts/jquery.min.js"></script>
<script class="cssdeck" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

-->
<script class="cssdeck" src="~/Scripts/jquery.min.js"></script>
        <link href="~/Content/kendo/2013.3.1119/kendo.flat.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
        <script src="~/Scripts/kendo/2013.3.1119/jquery.min.js"></script>
        <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>
<script>
    $('document').ready(function () {


        $(".k-primary").kendoButton();

    });
    </script>

<h2>About</h2>


<div>

    <div>
        <div style="float:right; margin-right:50px; text-align:justify">
        <img src="~/images/vc 2.jpg" />
    </div>
<br />The government of Pakistan is in full cognition of the need to develop Information Technology and for the first time in the history of Pakistan has allocated vast resources for the purpose. The Minister of Science and Technology, has, through selfless and tireless efforts, envisioned a grand plan for IT development and has thrown his full weight behind his implementation to make good on his dreams. The Government has prioritized human resource and infrastructure development in key areas, and has undertaken many short, medium and long term training programs on human resource development. The Information Technology Division has reserved Rs 500 million funds for the coming year for IT projects to be undertaken in the provinces. IT Accreditation Act is in the offing, which would ensure quality education is imparted in learning centers. The Punjab Government, for its own part, is keenly aware of its responsibilities and is taking every step to benefit from the IT revolution.
    </div>
    
</div>