@{
    ViewBag.Title = "Announcement To defree,fall and section";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}


   <!--
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css">
<link type= "text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
<script class="cssdeck" src="~/Scripts/jquery.min.js"></script>
<script class="cssdeck" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
-->

<script src="~/Scripts/jquery-1.9.1.js"></script>

<script class="cssdeck" src="~/Scripts/jquery.min.js"></script>
        <link href="~/Content/kendo/2013.3.1119/kendo.flat.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
        <script src="~/Scripts/kendo/2013.3.1119/jquery.min.js"></script>
        <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>
<script>
    $('document').ready(function () {


        $(".k-primary").kendoButton();

    });
    </script>
<script>
    $(document).ready(function () {

        $("#falls").focusin(function () {

            $("#faslls ").remove();

            $.getJSON("/Home/getFall", function (data) {

                $.each(data, function (i, item) {
                    $("#falls").append('<option value=' + item.i + '>' + item.i + '</option>');

                });

            });
        });
    });
        </script>

<br>
      <div id="respond" class="k-content" style ="background-color:mintcream; height:10%; width:50%;margin-left:25%">
          <h2 class="k-header" style="text-align:left">Make an Announcement:</h2>
        <form action= "/Home/AnnouncementDegFallSection" method="post" enctype="multipart/form-data"  class="forms"> 
          <p>
	    <label for="name"><small>Subject (required)</small></label>
            <input type="text" name="sub" id="sub" value="" size="22" />
            
          </p>
         
          <p>
	    <br><label for="name"><small>Description (required)</small></label>
            <textarea name="mesg_text" id="mesg_text" cols="80%" rows="10"></textarea>
            <label for="comment" style="display:none;"><small>Comment (required)</small></label>
          </p>

	 <!--   <br><h2 class="k-header">UpLoad File:</h2><br><br>
        <input type="file" name = "text"><br>
         
       <!-- <br><button class="btn btn-lg btn-primary btn-block" type="submit" style ="width:350px" id ="save">Add</button> -->
	   <!-- <label for="attach"><small>Attach (optional)</small></label> 
            
        
          </p> -->
          <!--  <p><input type="file" name="attachment" id ="attachment"/></p>   -->
          <p>
          <label for="audience"><small>Audience</small></label>
        <table border ="0" cellspacing ="1" cellpadding ="2" width="100">

            <tr>
                <td id ="falls">
                    

                </td>
            </tr>
            <tr>
                
                <td> 
                    Select Fall:
                    <select id = "fall" name ="fall" >
                        <option value="140">140</option>
                        <option value="141">141</option>
                        <option value="142">142</option>
                        
                  </select>

                </td>
                <td>
                   Select Degree:

                        <select id = "degree" name ="degree" >
          		        <option value="BCS">BCS</option>
                        
          		        <option value="MCS">MCS</option>
                        
                  </select>
                <td>

                 <td>
                     Select Section:
                      <select id = "section" name ="section" >
          		        <option value="Morning">Morning</option>
                        <option value="Afternoon">Afternoon</option>
                  </select>
                </td>
            </tr>
            

        </table>
         
          </p>
          <br/>
          <br />

          <p>
            <input name="submit" type="submit" id="submit" value="Announce" class="k-primary"/>
            &nbsp;
       <!--     <input name="reset" type="reset" id="reset" tabindex="5" value="Clear Announcement" class="k-primary" /> -->
          </p>
        </form>
      </div>


<style scoped>
            .forms {
                float: left;
                
            }

            .forms li {
                margin-bottom: 5px;
                list-style: none;
                
            }

            .forms li > * {
                width: 200px;
            }
        </style>


