@model MVC_First.Models.user
@{
    ViewBag.Title = "changePassword";
}

        <link href="~/Content/kendo/2013.3.1119/kendo.flat.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
        <script src="~/Scripts/kendo/2013.3.1119/jquery.min.js"></script>
        <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>

    


@if (ViewBag.message != null)
{
    <script>
        $(document).ready(function () {
            alert("Please Login First");

        });
 </script>
    ViewBag.message = null;
}

<style scoped>
                .demo-section {
                    width: 290px;
                    padding: 20px 30px;
                    background-color:rgb(241, 241, 241);
                }
                .demo-section h3 {
                    padding-top: 10px;
                }
                .demo-section p {
                    margin: 3px 0 20px;
                    line-height: 40px;
                }
                .k-primary {
                    width: 100px;
                }     
                .box {
                   height: 150px;
                   width: 150px;
                }           
            </style>
 


<script>
    
    $('document').ready(function () {


        $("#primaryTextButton").kendoButton();
       
        $('#paswd').focusout(function () {
            var pas = $('#paswd').val();
            

            $.getJSON("/Home/CheckPassword?pass=" + pas , function (data) {
                if (!data) {
                    $('#u').text("Wrong password...!!!");
                    $('#paswd').css("color", "red");
                    $('#paswd').css("border-color", "red");
                    $('#u').css("color", "red");
                    $('#u').css("font-size", "small");
                    $('#paswd').val("");
                }
                else {
                    $('#paswd').css("color", "black");
                    $('#paswd').css("border-color", "green");
                    $('#u').text("");
                    $('#u').css("color", "green");
                    $('#u').css("font-size", "small");
                }

            });
        });

        $('#cnp').focusout(function () {
            var newpas = $('#np').val();
            var confpas = $('#cnp').val();

            if (newpas != confpas)
            {
                    $('#u1').text("password does not match...!!!");
                    $('#cnp').css("color", "red");
                    $('#cnp').css("border-color", "red");
                    $('#u1').css("color", "red");
                    $('#u1').css("font-size", "small");
                    $('#cnp').val("");
           }
            else
            {
                    $('#cnp').css("color", "black");
                    $('#cnp').css("border-color", "green");
                    $('#u1').text("");
                    $('#u1').css("color", "green");
                    $('#u1').css("font-size", "small");
             }

       });
});

</script>

<script>

$(window).on("resize", function() {
  kendo.resize($(".chart"));
});
</script>

<div class ="k-content" style ="background-color:mintcream; height:auto; width:40%;margin-left:25%"> 
    <h2 class ="k-header">Change Password:</h2>
        
      <table style="height:auto;width:90%">
          
          <tr>
              <td>
                 <form  method ="post" action ="/Home/setPassword" >
                      @Html.HiddenFor(model => model.type)
                      @Html.HiddenFor(model => model.name)        
                      @Html.HiddenFor(model => model.email)
                      @Html.HiddenFor(model => model.uid)
                    <label for ="name" style ="margin-left:10%"> Old Password </label><br>
                    <input type="password" name="password" placeholder="Password" id ="paswd" class ="k-textbox" required style ="width:70%;margin-left:10%"><br><br>
                   
                      <div id ="u" style="position:relative;margin-left:10%"></div>
                    
                    <br><label for ="name" style ="margin-left:10%"> New Password </label><br>
                    <input type="password" name="newPassword" placeholder="Password" id ="np" class ="k-textbox" required style ="width:70%;margin-left:10%"><br><br>
                    
                    <label for ="name" style ="margin-left:10%"> Confirm New Password </label><br>
                    <input type="password" name="password" placeholder="Password" id ="cnp" class ="k-textbox" required style ="width:70%;margin-left:10%"><br><br>

                    <div id ="u1" style="position:relative;margin-left:10%"></div>
                  
                    <br><button class="k-primary" id="primaryTextButton" type="submit" style ="margin-left:10%;width:40%">Change Password</button>
                   </form>
                                           
                    
                  </td>
              </tr>
          </table>
        </div>
  
  
   
