@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}
<!--
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css">
<link type= "text/css" href="~/Content/bootstrap.css" rel="stylesheet" />

<script class="cssdeck" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script> -->

        <script class="cssdeck" src="~/Scripts/jquery.min.js"></script>
        <link href="~/Content/kendo/2013.3.1119/kendo.flat.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
        <script src="~/Scripts/kendo/2013.3.1119/jquery.min.js"></script>
        <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>

<script>
  $('document').ready(function () {


        $(".k-primary").kendoButton();

  });
    </script>
@if (ViewBag.message == 0)
{
    <script>
        $(document).ready(function () {
            alert("Course Added Sucessfully");

        });
    </script>
    ViewBag.message = -1;
}


<div class ="k-content" style="height:60%; width:40%; margin-left:25%">
        <h2 class="k-header">Course Configuration:</h2><br>

     <form class="forms" role="form" method ="post" action ="/Admin/SaveCourse">

         <label for ="name" class ="control-label" >Course ID </label><br>
        <input type="text" name ="cid"  placeholder="Course ID" id ="id" style ="width:80%" required> <br><br>
         <label for ="name" class ="control-label" >Course Name </label><br>
        <input type="text" name="name"  placeholder="Course Name" id ="cname" style ="width:80%" required><br><br>
         <label for ="name" class ="control-label" >Credit Hour </label><br>
        <input type="text" name="creditHours" placeholder="Credit Hour" id ="credit" style ="width:80%" required><br><br>
      
        <br><button class="k-primary" type="submit" style ="width:80%" id ="btn">Save</button>
         </form>
     
    </div>
