@{
    ViewBag.Title = "AddSingleUser";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<title>@ViewBag.Title</title>
<!--
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css">
<link type= "text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
<script class="cssdeck" src="~/Scripts/jquery.min.js"></script>
<script class="cssdeck" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

-->
<script src="~/Scripts/jquery-1.9.1.js"></script>


  <script class="cssdeck" src="~/Scripts/jquery.min.js"></script>
        <link href="~/Content/kendo/2013.3.1119/kendo.flat.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
        <script src="~/Scripts/kendo/2013.3.1119/jquery.min.js"></script>
        <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>
<script>
    $('document').ready(function () {


        $(".k-primary").kendoButton();

    });
    function showDiv(elem) {
        if (elem.value == "Teacher") {
            $("#degreeblock").hide();
        }
        else {
            $("#degreeblock").show();
        }
    }

    </script>


@if (ViewBag.message == 1)
{
    <script>
        $(document).ready(function () {
                alert("User Added Successfully");

        });
 </script>
    ViewBag.message = -1;
}

<div class ="l-content" style="height:auto; width:40%; margin-left:25%">
        <h2 class="k-header">Add Single User:</h2>

    <form class="forms" role="form" method ="post" action ="/Admin/SaveUser">

        <label for ="name"  >UserID </label><br>
        <input type="text" name ="uid" placeholder="UserID" required id ="id" style ="width:70%"><br><br>
         
        <label for ="name"  >Full Name </label><br>
        <input type="text" name ="name" placeholder ="Full Name" required id ="name" style ="width:70%"><br><br>

        <label for ="name"  >User Type </label><br>
        <select class="selectpicker" id="type" name="type" style="width:70%" onchange="showDiv(this)">
            <option>Select Type</option>
            <option>Teacher</option>
            <option>Student</option>
        </select><br><br> 
        
        <div id="degreeblock">
            <label for="name">Degree Type </label><br>
            <select class="selectpicker" id="degree" name="degree" style="width:70%">
                <option>Select Degree</option>
                <option>MCS</option>
                <option>BCS</option>
            </select><br><br>
        </div> 
        <label for="name">Department </label><br>
        <input type="text" name="dept" placeholder="Department" required id="dept" style="width:70%">  
        <br > <br>  

        <label for ="name"  >Email </label><br>
        <input type="email"  name ="email" placeholder="Email address" required id = "email" style ="width:70%"><br><br>

        

        <br><br><button class="k-primary" type="submit" style ="width:70%" id ="save">Save</button>
        

    </form>
     
</div>

